html {
    background: darkslategray;
    margin: 0px;
    padding: 0px;
}
body {
    margin: 0px;
    padding: 0px;
}

.smallVideo {
    position: absolute;
    overflow: hidden;
    top: 0px;
    z-index: 0;
    margin: 4px;
}

#local_video {
    background-color: darkblue;
    width: 110px;
    height: 110px;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
}

.bigVideo {
    position: absolute;
    z-index: 0;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    color: white;
    overflow: hidden;
}
#remote_video {
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.wrapper {
    display: flex;
    flex-direction: row;
    position: relative;
    background: rgba(32, 32, 32, 0.5);
    padding: 0px;
    z-index: 2;
    top: 120px;
    left: 0px;
    width: max-content;
    height: max-content;
    border-radius: 10px;
}

.controls {
    width: 180px;
    height: 110px;
    background: rgba(160, 0, 16, 1);
    color: white;
    text-align: right;
    border-radius: 10px;
    margin: 4px 2px 4px 4px;
    font: 8pt arial;
    padding: 10px 10px 0px 0px;
}

.controlButtons {
    width: 100%;
    text-align: center;
}

.remotes {
    width: 120px;
    height: 110px;
    background: rgba(0, 16, 127, 1);
    color: white;
    text-align: right;
    border-radius: 10px;
    margin: 4px 4px 4px 2px;
    padding: 10px 10px 0px 0px;
}

#remotes_table {
    margin: 0 auto;
    font: 8pt arial;
}

.printWindow {
    width: 640px;
    height: 100px;
    grid-column: 1 / 5;
    grid-row: 3;
    visibility: hidden;
}

#output {
    width: 100%;
    height: 100%;
}

.ui_span {
    font: 8pt arial;
}
.ui_input {
    width: 100px;
    font: 8pt arial;
}


