textarea {
    height: 600px;
    width: 100%;
}
.wrapper, html, body {
    height: 10vh;
    background: darkslategray;
}

.wrapper {
    display: flex;
    position: absolute;
    height: auto;
    flex-direction: column;
    background: white;
    bottom:0;
    top:0;
    left:0;
    right:0;
    border-radius: 7px;
    font: 14pt arial;
}

.ui_header {
    display: flex;
    background-color: darkgray;
    padding: 2px;
    border-radius: inherit;
    text-align: center;
    margin: 2px 2px 1px 2px;
}

.ui_header_left {
    flex: 2;
    background: rgba(160, 0, 16, 1);
    color: white;
    padding: inherit;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: inherit;
}

.ui_header_center {
    flex: 6;
    background-color: white;
    padding: inherit;
    border-radius: inherit;
    margin: 0px 2px 0px 2px;
}

.ui_header_right {
    flex: 3;
    background: rgba(16, 16, 127, 1);
    color: white;
    padding: inherit;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: inherit;
}

.ui_workspace {
    display: flex;
    height: 100%;
    background-color: lightgray;
    padding: 2px;
    border-radius: inherit;
    margin: 2px;
    margin: 1px 2px 2px 2px;
}

.ui_workspace_center {
    flex: 8;
    background-color: white;
    padding: 6pt 12pt 6pt 12pt;
    border-radius: inherit;
    margin: 0px 2px 0px 2px;
}

.ui_span {
    font: 14px arial;
}
#local_video {
    background-color: black;
    width: 160px;
    height: 120px;
}

#remote_video {
    background-color: black;
    width: 160px;
    height: 120px;
}
#remotes-list {
    border-radius: 11pt;
    background: rgba(16, 16, 127, 1);
    position: relative;
    width: auto;
    height: 110px;
    margin: 8px 0px 0px 0px;
    border: 2px solid #fff;
    font: 14px arial;
}
  
#remotes-list td.left {
    padding:0pt 3pt 0pt 0pt;
    text-align:right;
    width: 50%;
}

#remotes-list td.right {
    padding: 0pt 0pt 0pt 3pt;
    text-align: left;
    width: 50%;
}

#remotes-list tr.highlightable:hover {
    background-color: white;
    color: rgba(16, 16, 127, 1);
}

#remotes-table-wrapper {
    overflow: auto;
    height: 110px;
    margin: 0px 8px 0px 8px;
    width: auto;
}
  
#remotes-table {
    background: rgba(16, 127, 127, 0.0);
    margin: 4px auto;
}
