.wrapper, html, body {
    height: 10vh;
}

h1 {
    font: 14pt arial;
}

.ui_header {
    visibility: hidden;
    height: 0px;
}

.ui_header_left {
    visibility: hidden;
    height: 0px;
}

.ui_header_right {
    visibility: hidden;
    height: 0px;
}